<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jdbc.DAO.IBaseDAO">
    <resultMap id="PlaneMap" type="Plane">
        <id property="planeId" column="plane_id"/>
        <result property="year" column="year"/>
        <result property="modelId" column="model_id"/>
    </resultMap>

    <select id="getById" parameterType="int" resultMap="PlaneMap">
        SELECT *
        FROM planes as p
        LEFT JOIN plane_models as pm
        ON p.modelId =pm.model_id
        JOIN plane_manufacturers
        ON pm.manufacturer = plane_manufacturers.manufacturer_id
        WHERE p.plane_id=#{id}
    </select>

    <select id="getAll" resultMap="PlaneMap">
        SELECT *
        FROM planes as p
        LEFT JOIN plane_models as pm
        ON p.modelId =pm.model_id
    </select>
    <insert id="insertRow" parameterType="Plane">
        INSERT INTO planes
        ( year, modelId)
        VALUES ( #{year}, #{modelId})
    </insert>
    <update id="updateRow" parameterType="map">
        UPDATE planes SET
        year = #{object.year},
        modelId = #{object.modelId}
        WHERE plane_id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM planes
        WHERE plane_id = #{id}
    </delete>

</mapper>