<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jdbc.DAO.IPlaneModelDAO">
    <resultMap id="PlaneModelMap" type="PlaneModel">
        <id property="id" column="id"/>
        <result property="model_name" column="model_name"/>
        <result property="modelId" column="model_id"/>
        <!--
        <result property="manufacturer" column="manufacturer"/>
        <association property="manufacturer" javaType="PlaneManufacturer" resultMap="PlaneManufacturerResultMap"
                     columnPrefix="manufacturer"/>
        -->
    </resultMap>

    <select id="getPlaneModelById" parameterType="int" resultMap="PlaneModelMap">
        SELECT *
        FROM plane_models as pm
        LEFT JOIN plane_manufacturers
        ON pm.manufacturer = plane_manufacturers.manufacturer_id
        WHERE pm.model_id=#{id}
    </select>


    <select id="getAllModels" resultMap="PlaneModelMap">
        SELECT *
        FROM plane_models
        LEFT JOIN plane_manufacturers as pm
        ON plane_models.manufacturer =pm.manufacturer_id
    </select>
    <insert id="insertModel" parameterType="PlaneModel">
        INSERT INTO plane_models
        ( model_id , model_name)
        VALUES (#{modelId}, #{model_name})
    </insert>
    <update id="updateModel" parameterType="map">
        UPDATE planes SET
        model_id = #{object.modelId}
        model_name = #{object.model_name}
        WHERE plane_id = #{id}
    </update>

    <delete id="deleteModelById" parameterType="int">
        DELETE FROM plane_models
        WHERE model_id = #{id}
    </delete>

    <delete id="deleteAllModels">
        DELETE FROM plane_models
    </delete>


</mapper>